p {
    margin: 0;
    padding-bottom: 13px;
}

.logo-fcjmp {
    padding-bottom: 26px !important;
}

.anchor-link a {
    font-weight: 600;
    text-align: center !important;
    color: #279989;
}

.menu {
    max-width: 550px !important;
}

.divider {
    padding: 13px 26px !important;
}

.divider p {
    padding: 0;
}



.title {
    font-size: 18.38px;
    margin: 0;
    padding: 13px 0px;
}

.title-section {
    color: #279989;
    text-align: center;
    font-size: 25.99px;
    padding-top: 26px;
    padding-bottom: 39px;
    font-weight: 800;
    margin: 0;
}

.section-content {
    padding: 26px 0;
}

.column-double {
    padding: 0 13px;
    max-width: 248px;
}

.column-emploi {
    max-width: 522px;
}

.icon img {
    display: inline;
}

.text-footer {
    color: #E6E6E6;
    text-align: center;
    font-size: 9.19px;
    line-height: 4px;
}

.text-footer a {
    color: #E6E6E6;
}